.frontend{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;



}

.frontend > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 15px;
}


.frontend_skill>p{
    font-weight: 500;
    color: #bbd2ff;
    padding: 5px;

}

.frontend>p{
    font-weight: 900 !important;
    color: #fff;
    font-size: 24px;
    padding-bottom: 15px;

}
