.header {
    padding: 35px 50px;
    padding: 110px;
    /*background-color: white;*/
    /*background: #0064a7;*/
    background: #caebf2;

    /*z-index: 100;*/
    top: 0;
    /*box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);*/
}

