

.pic{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    z-index: -1;

}
.pic>img{
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);

    height: 210px;
    width: 210px;
    border-radius: 999px;

}
